# Reverse proxy for pyrodactyl-panel
panel.localhost {
  reverse_proxy 127.0.0.1:8000
  tls internal
}

# Reverse proxy for pterodactyl-wings
wings.localhost {
  reverse_proxy 127.0.0.1:8080
  tls internal
}

