.stat_block {
    @apply flex items-center rounded-xl shadow-lg relative w-full;
    /* @apply col-span-3 md:col-span-2 lg:col-span-6; */
    @apply p-8;

    & > .status_bar {
        @apply w-1 h-full absolute left-0 top-0 rounded-l sm:hidden;
    }

    & > .icon {
        @apply hidden flex-shrink-0 items-center justify-center rounded-lg shadow-md w-12 h-12;
        @apply transition-colors duration-500;
        @apply sm:flex sm:mr-4;

        & > svg {
            @apply w-6 h-6 m-auto;
        }
    }
}

.terminal {
    @apply flex flex-col w-full h-full relative;

    & > .container {
        @apply min-h-[453px] rounded-t-xl pt-8 pl-8 bg-[#131313] border-x-[1px] border-[#ffffff11] border-t-[1px] font-mono text-sm h-full;

        & #terminal {
            @apply h-full w-full;

            &::-webkit-scrollbar-track {
                @apply w-2;
            }

            &::-webkit-scrollbar-thumb {
                @apply bg-zinc-900;
            }
        }
    }

    & .command_icon {
        @apply flex items-center top-0 left-0 absolute z-10 select-none h-full px-3 transition-colors duration-100;
    }

    & .command_input {
        @apply relative bg-[#131313] border-[#ffffff11] border-x-[1px] border-b-[1px] px-4 pb-6 pt-2 text-zinc-100 pl-8 pr-4 w-full font-mono text-sm rounded-b-xl;
        @apply focus:ring-0 outline-none focus-visible:outline-none;
        @apply active:border-b-blue-500 focus:border-b-blue-500;
    }
}

.chart_container {
    @apply bg-[#131313] rounded-xl border-[#ffffff11] border-[1px] relative;
}
