.icons {
    @apply flex space-x-1 mx-2 transition-colors duration-100 text-zinc-400;

    & svg {
        @apply px-1 py-px cursor-pointer hover:text-zinc-50 h-5 w-auto;
    }
}

.description {
    @apply mt-1 text-sm break-words  pr-4;

    & strong {
        @apply text-zinc-50 font-semibold break-all;
    }
}
